<!-- views/partials/header.ejs -->

<!--<nav class="navbar navbar-default" role="navigation">-->
<!--    <div class="container-fluid">-->

<!--        <div class="navbar-header">-->
<!--            <a class="navbar-brand" href="#">-->
<!--                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>-->
<!--                EJS Is Fun-->
<!--            </a>-->

<!--            <ul class="nav navbar-nav">-->
<!--                <li><a href="/">Home</a></li>-->
<!--                <li><a href="/about">About</a></li>-->
<!--            </ul>-->
<!--        </div>-->

<!--    </div>-->
<!--</nav>-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <ol class="breadcrumb bg-light text-dark">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Users</li>
        </ol>
    </div>
</nav>
