<!-- views/pages/users.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <ol class="breadcrumb bg-light text-dark">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                   Create Profile
                </li>
            </ol>
        </div>
    </nav>
</header>

<main>
    <div class="jumbotron bg-light text-dark">
        <h1 class="display-3">Create Profile</h1>

        <p class="lead">
            Please fill out all mandatory fields
        </p>
    </div>
    <div class="container feed">
        <form method="post" action="/profile">
            <div class="form-group">
                <label for="exampleUsername">Username</label>
                <input type="text" class="form-control" id="exampleUsername"  name="username" required>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email" required>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="imageURL">Image URL</label>
                <input type="text" class="form-control" id="imageURL"  name="imageURL" required>
            </div>
            <div class="form-group">
                <label for="phone">Phone number</label>
                <input type="number" class="form-control" id="phone" min="0" max="9999999999"  name="phone">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" required>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="parentalCheck1" name="parentalCheck">
                <label class="form-check-label" for="parentalCheck1">Activate Child Settings</label>
                <small id="parentalHelp" class="form-text text-muted">When activated it filters all adult-theme images</small>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>


    </div>


</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
